<main>
  <div class="container px-5 px-sm-0">
    <div class="row">

      <div class="col-md-8 offset-md-1">
        <h1 class="d-flex align-items-center justify-content-center">トップページ</h1>
        <h3>評価順ランキング</h3>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Review</th>
              <th>Rate</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |review| %>
            <tr>
              <td>
                <%= link_to customer_path(review.customer.id) do %>
                　<%= image_tag review.customer.get_profile_image(100,100) %>
              　<% end %>
              </td>
              <td>
                <%= link_to post_path(review.id) do %>
                  <%= review.title %>
                <% end %>
              </td>
              <td><%= review.body %></td>
              <td>
                <div id="star-rate-<%= review.id %>"></div>
                  <script>
                  $('#star-rate-<%= review.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= review.rate %>,
                  });
                  </script>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</main>