<main>
  <%= flash[:create] %>
  <%= flash[:updateb] %>
  <div class="container">
    <div class="row">
      <%= render 'layouts/admincinfo', ipost: @post, customer: @customer %>
      <div class="col-md-8 offset-md-1">
        <h2>Review detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to admin_customer_path(@post.customer.id) do %>
                  <%= image_tag @post.customer.get_profile_image(100,100) %></p>
                  <%= @post.customer.name %>
                <% end %>
              </td>
              <td>
                <%= @post.title %>
              </td>
              <td>
                <%= @post.body %>
              </td>
              <td>
                <div id="star-rate-<%= @post.id %>"></div>
                  <script>
                  $('#star-rate-<%= @post.id %>').empty();
                  $('#star-rate-<%= @post.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= @post.rate %>,
                  });
                  </script>
              </td>
              <td>
                <%= @post.genre.name %>
              </td>
              <td><div class="btn btn-danger"><%= link_to "Destroy", admin_post_path(@post), method: :delete %></div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>